<template>
  <ux-dialog>
    <ux-dialog-header>
      <div class="d-flex flex-row justify-content-between">
        <h5>Edit Asset</h5>
        <i class="ion-close" style="cursor: pointer;" click.trigger="controller.cancel()"></i>
      </div>
    </ux-dialog-header>
    <ux-dialog-body>
      <form>
        <div class="form-group my-1">
          <label for="assetName">Name</label>
          <input type="text" id="assetName" class="form-control" placeholder="Enter a name" value.bind="asset.name">
        </div>
        <div class="form-group my-1">
          <label for="assetSymbol">Symbol</label>
          <input type="text" id="assetSymbol" class="form-control" placeholder="Enter a symbol"
            value.bind="asset.symbol">
        </div>
      </form>
    </ux-dialog-body>

    <ux-dialog-footer>
      <button class="btn-success" click.trigger="submit()">Save</button>
      <button click.trigger="controller.cancel()">Cancel</button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
